::selection{ background-color: #E13300; color: white; }
::moz-selection{ background-color: #E13300; color: white; }
::webkit-selection{ background-color: #E13300; color: white; }

@font-face {
    font-family: 'RunicClear';
    src: url('RunicClear.ttf');
}

@font-face {
    font-family: 'RunicSolid';
    src: url('RunicSolid.ttf');
}

@font-face {
    font-family: 'Morris';
    src: url('MorrisRoman.ttf');
}

html{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#00ffff+0,0000ff+50,000000+100 */

    background: linear-gradient(to bottom, #00ffff 0%,#0000ff 100%), linear-gradient(to bottom, #0000ff 0%,#000000 100%), #000000;
    background-repeat: no-repeat, no-repeat, repeat;
    background-attachment: fixed, fixed, fixed;
    background-position:0% 0%, 0% 50%, 0% 100%;
    height: 100%;
}

body {
    font-family: 'Morris';
    color: #000000;
    font-style: normal;
    font-size: 20px;
    line-height: 22px;
    
    
}

div.server {
    background-color:white;
    color: #1a1a1a;
    margin:20px;
    padding:20px;
} 

a {
    color: #003399;
    background-color: transparent;
    font-weight: normal;
}

.title {
    padding: 0 20px;
    background: #32373a;
    position: relative;
    height: 50px;
    
}

h1 {
    color: #ff0000;
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 50px;
    text-transform: capitalize;
    font-family: 'RunicClear';
}

h2 {
    color: #ff0000;
    margin: 0;
    font-size: 18px;
    font-weight: 400;
    line-height: 50px;
    text-transform: capitalize;
    font-family: 'RunicSolid';
}

code {
    font-family: Consolas, Monaco, Courier New, Courier, monospace;
    font-size: 12px;
    background-color: #f9f9f9;
    border: 1px solid #D0D0D0;
    color: #002166;
    display: block;
    padding: 12px 10px 12px 10px;
}

#content {
    padding: 20px;
    zoom: 1;
}

#body{
    margin: 0 15px 0 15px;
}

p.footer{
    text-align: right;
    font-size: 11px;
    border-top: 1px solid #D0D0D0;
    line-height: 32px;
    padding: 0 10px 0 10px;
    margin: 20px 0 0 0;
}

#container{
    margin: 10px;
    border: 1px solid #D0D0D0;
    -webkit-box-shadow: 0 0 8px #D0D0D0;
}

/* Form Styles */

form label{
    display: block;
    margin-bottom: 5px;
}
form input[type=text]{
    border: 1px solid #aaa;
    border-radius: 2px;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    box-sizing: border-box;
    padding: 5px;
    margin-bottom: 20px;
    outline: 0;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}

form input[type=submit]{
    background: #198ad1;
    color: #fff;
    display: inline-block;
    padding: 0 20px;
    font-size: 20px;
    line-height: 2.6em;
    font-family: 'Morris';
    font-weight: 400;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.1);
    -moz-box-shadow: inset 0 -1px 0 rgba(0,0,0,.1);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.1);
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    text-transform: capitalize;
    border: 0;
    cursor: pointer;
    text-align: center;
    transition-property: background;
    transition-duration: 1s;
    transition-timing-function: linear;
}

form input[type=submit]:hover{
    background: #4CAF50;
}

button.blubut {
  border: 0;
  background: #0087cc;
  border-radius: 4px;
  box-shadow: 0 5px 0 #006599;
  color: #fff;
  cursor: pointer;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 12px 20px;
  transition: all .1s linear;
}

button.blubut:active {
  box-shadow: 0 2px 0 #006599;
  transform: translateY(3px);
}


button.dlbut {
  border: 0;
  background: #f2f2f2;
  border-radius: 4px;
  box-shadow: 0 5px 0 #d9d9d9;
  color: #4d4d4d;
  cursor: pointer;
  font: inherit;
  margin: 0;
  outline: 0;
  padding: 12px 20px;
  transition: all .1s linear;
}

button.dlbut:active {
  box-shadow: 0 2px 0 #d9d9d9;
  transform: translateY(3px);
}


/* Menu Bar Stuff */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    z-index: 100;
}

li {
    float: left;
    z-index: 100;
}

li a, .dropbtn {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    z-index: 100;
}

li a:hover:not(.active), .dropdown:hover .dropbtn{
    background-color: #111;
    z-index: 100;
}
-index: 100;
}

li.dropdown {
    display: inline-block;
    z-index: 100;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 100;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    z-index: 100;
}

.dropdown-content a:hover {
    background-color: #ccffff;
    z-index: 100;
}

.dropdown:hover .dropdown-content {
    display: block;
    z-index: 100;
}

.active {
    background-color: #4CAF50;
    z-index: 100;
}

/* Table Stuff */

#table-wrapper {
  position:relative;
}
#table-scroll {
  overflow:auto;  
  margin-top:20px;
  height:75vh;
}

table {
    border-collapse: collapse;
    width: 50%;
    z-index: 1;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}

tr:nth-child(odd) {
    background-color: #e6e6e6
}

tr:hover {
    background-color: #ccffff
}

th {
    background-color: #4CAF50;
    color: white;
}

/* Download Button Stuff */

.dlbutton {
  width: 200px;
  /* margin: 150px auto; */
  margin: 0 auto;
}

.dlbutton a {
  display: block;
  height: 50px;
  width: 200px;
  
  /*TYPE*/
  color: white;
  font: 17px/50px Helvetica, Verdana, sans-serif;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  
  /*GRADIENT*/  
  background: #00b7ea; /* Old browsers */
  background: -moz-linear-gradient(top, #00b7ea 0%, #009ec3 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00b7ea), color-stop(100%,#009ec3)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #00b7ea 0%,#009ec3 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #00b7ea 0%,#009ec3 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #00b7ea 0%,#009ec3 100%); /* IE10+ */
  background: linear-gradient(top, #00b7ea 0%,#009ec3 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b7ea', endColorstr='#009ec3',GradientType=0 ); /* IE6-9 */
}

.dlbutton a.dlba, p.dlb {
    -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
          border-radius: 10px;
  
  -webkit-box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
     -moz-box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
          box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
}

p.dlb {
  background: #222;
  display: block;
  height: 40px;
  width: 180px; 
  margin: -50px 0 0 10px;
  
  /*TYPE*/
  text-align: center;
  font: 12px/45px Helvetica, Verdana, sans-serif;
  color: #fff;
  
  /*POSITION*/
  position: absolute;
  z-index: -1;
  
  /*TRANSITION*/  
  -webkit-transition: margin 0.5s ease;
     -moz-transition: margin 0.5s ease;
       -o-transition: margin 0.5s ease;
      -ms-transition: margin 0.5s ease;
          transition: margin 0.5s ease;
}

/*HOVER*/
.dlbutton:hover .bottom {
  margin: -10px 0 0 10px;
}

.dlbutton:hover .top {
  margin: -80px 0 0 10px;
  line-height: 35px;
}

/*ACTIVE*/
.dlbutton a:active {
background: #00b7ea; /* Old browsers */
background: -moz-linear-gradient(top,  #00b7ea 36%, #009ec3 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(36%,#00b7ea), color-stop(100%,#009ec3)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #00b7ea 36%,#009ec3 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #00b7ea 36%,#009ec3 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #00b7ea 36%,#009ec3 100%); /* IE10+ */
background: linear-gradient(top,  #00b7ea 36%,#009ec3 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00b7ea', endColorstr='#009ec3',GradientType=0 ); /* IE6-9 */

}

.dlbutton:active .bottom {
  margin: -20px 0 0 10px;
}

.dlbutton:active .top {
  margin: -70px 0 0 10px;
}