<!DOCTYPE html>
<html>
<head>
	<title>Account Created</title>
	<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css" />
</head>
<body>

<ul>
  <li><a href="#home">Home</a></li>
  <li><a href="{{url_for('server')}}">Accounts</a></li>
  <li><a href="{{url_for('leaderboard')}}">Leaderboard</a></li>
  <ul style="float:right;list-style-type:none;">
    <li><a href="{{url_for('createaccount')}}">Create Account</a></li>
    <li><a href="#login">Login</a></li>
  </ul>
</ul>

<p>&nbsp;</p>

<p>&nbsp;
<h1 style="text-align: center; font-size: 500%;">Account Created!</h1>
</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p>&nbsp;
<div id="content" style="text-align: center;">Hello <strong>{{username}}</strong>!</div>
</p>

<p>&nbsp;</p>
</body>
</html>
