<!DOCTYPE html>
<html>
<head>
	<title>Add User</title>
	<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css" />
</head>
<body>
<ul>
  <li><a href="#home">Home</a></li>
  <li><a href="{{url_for('server')}}">Accounts</a></li>
  <li><a href="{{url_for('leaderboard')}}">Leaderboard</a></li>
  <ul style="float:right;list-style-type:none;">
    <li><a class="active" href="{{url_for('createaccount')}}">Create Account</a></li>
    <li><a href="#login">Login</a></li>
  </ul>
</ul>

<p>&nbsp;</p>

<h1 style="text-align: center; font-size: 500%;"><strong>Create </strong></h1>

<p>&nbsp;</p>

<h1 style="text-align: center; font-size: 500%;"><strong>New User</strong></h1>

<p>&nbsp;</p>

<div id="content">
<form action="{{ url_for('createaccount') }}" method="post">
<p style="text-align: center;"><label for="username">Please enter a username:</label><label for="username"><font color="red">{{unerror}}</font></label> <input name="username" type="text" value="{{uname}}"/><br />
<label for="password">Please enter a password:</label> <label for="username"><font color="red">{{pwerror}}</font></label> <input name="password" type="password" /><br />
<br />
<input type="submit" value="Submit" />&nbsp;</p>
</form>
</div>
</body>
</html>
