<!DOCTYPE html>
<html>
<head>
	<title>Add User</title>
	<link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body onload="setActive()">

<ul id="navbar">
  <li><a href="{{url_for('root')}}">Home</a></li>
  <li><a href="{{url_for('leaderboard')}}">Leaderboard</a></li>
  <li class="dropdown">
    <a href="#" class="dropbtn">Developer Tools</a>
    <div class="dropdown-content">
      <a href="{{url_for('calltimes')}}">Function Calltimes</a>
      <a href="{{url_for('calltimes')}}">Crash Reports</a>
      <a href="{{url_for('accounts')}}">Accounts</a>
    </div></li>
  <ul style="float:right;list-style-type:none;">
    <li><a href="{{url_for('login')}}">Login</a></li>
    <li><a href="{{url_for('createaccount')}}">Create Account</a></li>
  </ul>
</ul>
<script>
function setActive() {
  aObj = document.getElementById('navbar').getElementsByTagName('a');
  for(i=0;i<aObj.length;i++) {
    if(document.location.href == aObj[i].href) {
      aObj[i].className='active';
    }
    console.log("{{user}}");
    if(aObj[i].innerHTML == "Login") {
      if("{{user}}" != "") {
        aObj[i].parentElement.className = "dropdown";
        aObj[i].parentElement.innerHTML = '<a href="#" class="dropbtn">{{user}}</a> \
                                            <div class="dropdown-content"> \
                                              <a href="{{url_for('logout')}}">Logout</a> \
                                            </div></li>'
      }
    }
  }
}
</script>

<p>&nbsp;</p>

<h1 style="text-align: center; font-size: 500%;"><strong>Create </strong></h1>

<p>&nbsp;</p>

<h1 style="text-align: center; font-size: 500%;"><strong>New User</strong></h1>

<p>&nbsp;</p>

<div id="content">
<form action="{{ url_for('createaccount') }}" method="post">
<p style="text-align: center;">
<label for="username">Please enter a username:</label>
<label for="username"><font color="red">{{unerror}}</font></label>
<input name="username" type="text" value="{{uname}}"/>
<br />
<label for="password">Please enter a password:</label> 
<label for="username"><font color="red">{{pwerror}}</font></label> 
<input name="password" type="password" />
<br />
<br />
<input type="submit" value="Submit" />&nbsp;</p>
</form>
</div>
</body>
</html>
