<!DOCTYPE html>
<html>
<head>
    <title>Leaderboard</title>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css" />
</head>
<body>

<ul>
  <li><a href="#home">Home</a></li>
  <li><a href="{{url_for('server')}}">Accounts</a></li>
  <li><a class="active" href="{{url_for('leaderboard')}}">Leaderboard</a></li>
  <ul style="float:right;list-style-type:none;">
    <li><a href="{{url_for('createaccount')}}">Create Account</a></li>
    <li><a href="#login">Login</a></li>
  </ul>
</ul>

<br/>

<table align="center">
    <tr>
        <th>Rank</th>
        <th>User</th>
        <th>XP</th>
    </tr>
{% for key in korder %}
    <tr>
        <td width="10%"> {{num}} </td>
        <td> {{ key }} </td>
        <td width="20%"> {{ tout[key] }} </td>
    </tr>
    {% set num = num + 1 %}
{% endfor %}
</table>

</body>
</html>